<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bocmobileapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BOCMobileApp">
        <activity
            android:name=".manage_beneficiary"
            android:exported="true" />
        <activity
            android:name=".editBudget"
            android:exported="true" />
        <activity
            android:name=".dashboard"
            android:exported="true" />
        <activity
            android:name=".budget_calculator"
            android:exported="true" />
        <activity
            android:name=".confirm_transfer_details"
            android:exported="true" />
        <activity
            android:name=".registered_benefic_transfer"
            android:exported="true" />
        <activity
            android:name=".one_time_transfer"
            android:exported="true" />
        <activity
            android:name=".ThirdPartyTransactions"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>